{% load sitetree %}
<html>
<head lang="es">
	<meta charset="iso-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block titulo %}{% endblock titulo %}</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.multilevel.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-responsive.multilevel.min.css">
	<style type="text/css">
		@media (max-width: 979px){
	    	.dropdown-submenu .dropdown-menu{
	        	display: none;
	    	}
		}
	</style>
	{% block extra_css %}{% endblock extra_css %}
</head>
<body>
	<div class="container-fluid">	
		<div class="page-header"> <!-- Parámetro que nos indica si mostrar -->
			<h2><small>Recáscaras</small></h2>
		</div>
		<div class="navbar">  <!-- Parámetro que nos indica si mostrar -->
			<div class="navbar-inner">
				<button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar collapsed" type="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!--<a href="./index.html" class="brand">Taller de Django</a>-->
				<div class="nav-collapse collapse" style="height: 0px;">
					<ul class="nav">
						{% sitetree_menu from "mytree" include "1" %}
					</ul>
				</div>
			</div>
		</div>
		<ul class="breadcrumb">{% sitetree_breadcrumbs from "mytree" %}</ul>  <!-- Parámetro que nos indica si mostrar -->
		<div class="row-fluid">{% block contenido %}{% endblock contenido %}</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.js"></script>
	{% block extra_js %}{% endblock %}
</body>
</html>
