{% extends 'base.html' %}

{% block titulo %}Eclock ERP{% endblock titulo %}
{% block extra_css %}
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
{% endblock extra_css %}
{% block contenido %}
<!-- Podemos situar un buscador -->
<div id="table-via"></div>
{% endblock contenido %}
{% block extra_js %}
	<script src="{{STATIC_URL}}js/bootstrap-datatable.js"></script>
	<script>
		$("#table-via").datatable({
		    perPage: 3,
		    url: 'json',
		    showPagination: true,
		    showFilter: true,
		    //filterModal: $("#table-container_1-filter"),
		    columns: [
		        {
		            title: "Codigo",
		            sortable: true,
		            field: "cod",
		            callback: function ( data, cell ) {
		            	return data[cell.field];
		            },
		            filter: true
		        },
		        {
		            title: "Descripcion",
		            sortable: true,
		            field: "desc",
		            callback: function ( data, cell ) {
		            	return data[cell.field];
		            },
		            filter: true
		        }
		    ]
		});
	</script>
{% endblock extra_js %}