{% extends 'base.html' %}

{% block titulo %}Eclock ERP{% endblock titulo %}
{% block extra_css %}
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
{% endblock extra_css %}
{% block contenido %}
<!-- Podemos situar un buscador -->
<table class="table table-striped table-bordered table-condensed" id="table-vias">
	<caption><h5>Lista de vías que podemos utilizar en las direcciones</h5></caption> <!-- Parámetro que nos indica si mostrar -->
	<thead>
		<tr>
			{% for field in fields %}
				{% if field.name != 'id' %}
					<th>{{ field.verbose_name }}</th>
				{% endif %}
			{% endfor %}
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for via in vias %}
		<tr>
			<td><small>{{via.cod}}</small></td>
			<td><small>{{via.desc}}<small></td>
			<td>
				<a href="{% url locations.views.editar_via via.id %}" class="btn  btn-small btn-info"><i class="icon-edit"></i> Editar</a>
				<a href="{% url locations.views.eliminar_via via.id %}" class="btn btn-small btn-danger"><i class="icon-remove"></i> Eliminar</a>
			</td>
		</tr>
		{% empty %}
			<tr>
				<td colspan="4">No hay vias registradas</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<a href="{% url locations.views.agregar_via %}" class="btn btn-small btn-primary"><i class="icon-plus"></i> Agregar Vía</a>
<div id="pager" class="pagination pagination-centered">
	<!--<ul>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
	</ul>-->
</div>
<!-- Situaremos un paginador -->
{% endblock contenido %}
{% block extra_js %}
	<script src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.tablesorter.pager.js"></script>
	<script>
		$("#table-vias")
			.tablesorter();
			//.tablesorterPager({container: $("#pager")});
	</script>
{% endblock extra_js %}